$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px;
$largescreen-margin:48px;
//Colors
$bandsite-black: #234f3c;
$silver : #AFAFAF;
$white : #ffffff;
$bandsite-dark-black: #234f3c

;
$mercury : #E1E1E1;
$alabaster: #FAFAFA;
