@font-face {
  font-family: "Avenir";
  src: url("./assets/fonts/AvenirNextLTPro-Bold.otf") format("otf"), url("./assets/fonts/Alternative files/AvenirNextLTProDemi.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("./assets/fonts/AvenirNextLTPro-Demi.otf") format("otf"), url("./assets/fonts/Alternative files/AvenirNextLTProDemi.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("./assets/fonts/AvenirNextLTPro-Regular.otf") format("otf"), url("assets/fonts/Alternative files/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
body * {
  font-family: "Avenir";
}

.header {
  background-color: #323232;
  position: fixed;
  top: 0;
  width: 100%;
}

.header__nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__logo, .footer__logo {
  box-sizing: border-box;
  padding: 1rem;
  padding-bottom: 0;
}

.header__logo-image {
  height: 1.25rem;
  width: 7.5rem;
}

.header__list-menu {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  width: 100%;
  text-align: center;
  color: #E1E1E1;
  padding-bottom: 0.5rem;
}
.header__list-menu--selected {
  border-bottom: 0.2rem solid white;
  font-weight: 700;
  color: white;
}
.header__list-menu:hover {
  border-bottom: 0.2rem solid white;
  font-weight: 400;
  color: white;
}

.header__list-link {
  text-decoration: inherit;
  color: inherit;
}

.main {
  margin-top: 4.69rem;
}

.main__hero {
  position: relative;
  display: flex;
  align-items: center;
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  box-sizing: border-box;
  height: 182px;
}
.main__hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 32, 32, 0.5);
}
.main__hero-text, .main__about-title, .footer__title, .main__gallery-title {
  position: absolute;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: white;
  width: 100%;
  margin: 0;
  margin-left: 1rem;
}

.main__about-section, .main__gallery {
  margin: 0rem 1rem;
}

.main__about-title, .footer__title, .main__gallery-title {
  position: static;
  padding: 0;
  color: #323232;
  margin: 1.5rem 0 1rem;
}

.main__about-image {
  padding: 0;
  width: 100%;
  margin-bottom: 0.5rem;
}

.main__about-quote, .footer__subtitle, .main__about-subtitle {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.main__about-subtitle {
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.main__about-copy, .footer__management-contact,
.footer__group-details,
.footer__arch-details,
.footer__copyright-details {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0 0 1rem;
}

.main__gallery-title {
  margin: 0;
  padding: 1.5rem 0 1rem;
}

.main__gallery {
  background-color: #FAFAFA;
}

.main__gallery-photo {
  width: 100%;
  margin-bottom: 1rem;
}
.main__gallery-photo--last {
  margin-bottom: 0;
}

.footer {
  background-color: #323232;
  margin-top: 1rem;
}

.footer__title {
  margin: 0;
  margin-left: 1rem;
  padding: 1.5rem 0 1rem;
  color: white;
}

.footer__socials-section {
  display: flex;
  justify-content: space-between;
  width: 38%;
  margin-left: 1rem;
}

.footer__subtitle {
  color: white;
  margin: 1rem 0;
}

.footer__management-section,
.footer__group-section,
.footer__arch-section {
  margin: 1rem 1rem 1.5rem;
}

.footer__management-contact,
.footer__group-details,
.footer__arch-details,
.footer__copyright-details {
  color: white;
  width: 50%;
}

.header__logo, .footer__logo {
  box-sizing: border-box;
  padding: 1rem;
  padding-bottom: 0;
}

.footer__logo {
  padding-top: 1.5rem;
}

.header__logo-image {
  height: 1.25rem;
  width: 7.5rem;
}

.footer__copyright-details {
  width: 100%;
  padding: 1rem 0;
  margin: 0 1rem;
  font-size: 0.7325rem;
}/*# sourceMappingURL=bio.css.map */