@use "./partials/variables" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;



// Main Section
.main {
    margin-top: 4.3rem;
    position: relative;

    @include tablet {
        margin-top: 3.5rem;
    }

    @include desktop {
        margin-top: 3.75rem;
    }

    &__hero {
        position: relative;
        display: flex;
        align-items: center;
        background-image: url("../assets/images/hero-bio.jpg");
        background-size: cover;
        background-position: center;

        box-sizing: border-box;
        width: 100vw;
        height: 16.875rem;

        @include tablet {
            height: 26.25rem;
        }

        @include desktop {
            height: 28.5rem;
        }

        &-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(50, 50, 50, 0.5);
        }

        &-text {
            position: absolute;
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: 600;
            color: $white;
            box-sizing: border-box;
            width: 90vw;
            margin: 0;
            margin-left: 1rem;

            @include tablet {
                font-size: 3.75rem;
                line-height: 4.25rem;
                font-weight: 600;
                margin-left: 2.25rem;
                width: auto;
            }

            @include desktop {
                font-size: 3.75rem;
                line-height: 4.25rem;
                font-weight: 600;
                margin-left: 2.25rem;
                width: $desktop-breakpoint;
                position: relative;
                left: calc((100% - $desktop-breakpoint) / 2);
            }
        }

    }

    &__about-section {

        margin: 0rem 1rem;

        @include tablet {
            box-sizing: border-box;
            width: 100vw;
            padding: 0 5rem 0 3.5rem;
            padding: 0 $largescreen-margin 0 2.25rem;
            margin: 0;
        }

        @include desktop {
            box-sizing: border-box;
            width: 100%;
            padding: 0 5rem 0 3.5rem;
            padding: 0 $largescreen-margin 0 2.25rem;
            margin: 0;
            width: $desktop-breakpoint;
            position: relative;
            left: calc((100% - $desktop-breakpoint) / 2);
        }
    }

    &__about-title {
        @extend .main__hero-text;
        position: static;
        padding: 0;
        color: $bandsite-black;
        margin: 1.5rem 0 1rem;
        box-sizing: border-box;
        width: 88vw;

        @include tablet {
            margin: 3rem 0 1.25rem;
            font-size: 2.25rem;
        }

        @include desktop {
            margin: 3rem 0 1.25rem;
            font-size: 2.25rem;
            margin-left: 2.25rem;
            width: $desktop-breakpoint;
            position: relative;
            left: calc((100% - $desktop-breakpoint) / 2);
        }
    }

    &__about-image {
        padding: 0;
        width: 100%;
        margin-bottom: 0.5rem;

        @include tablet {
            box-sizing: border-box;
            width: 100%;
            height: 21.25rem;
            padding: 0 5rem 0 4rem;
            justify-content: center;
            object-fit: cover;
            margin-bottom: 1.125rem;
        }

        @include desktop {
            box-sizing: border-box;
            width: 100%;
            height: 21.25rem;
            padding: 0 5rem 0 4rem;
            justify-content: center;
            object-fit: cover;
            margin-bottom: 1.125rem;
        }

    }

    &__about-quote {
        font-size: 0.875rem;
        line-height: 1.375rem;
        font-weight: 600;
        margin-top: 0.5rem;
        margin-bottom: 0;

        @include tablet {
            font-size: 1.5rem;
            line-height: 2rem;
            margin-top: 1.125rem;
            padding: 0 5rem 0 4rem;
        }

        @include desktop {
            font-size: 1.5rem;
            line-height: 2rem;
            margin-top: 1.125rem;
            padding: 0 5rem 0 6.25rem;
            position: relative;
            left: calc((100% - $desktop-breakpoint) / 2);
        }

        &--author {
            @include tablet {
                font-size: 0.875rem;
            }

            @include desktop {
                font-size: 0.875rem;
            }
        }
    }

    &__about-subtitle {
        @extend .main__about-quote;
        font-weight: 500;
        margin-top: 1.5rem;
        margin-bottom: 1rem;

        @include tablet {
            font-size: 1.5rem;
        }

        @include desktop {
            font-size: 1.5rem;
        }

    }

    &__about-styler {
        @include tablet {
            display: flex;
            padding: 0 5rem 0 4rem;
            justify-content: space-between;
        }

        @include desktop {
            display: flex;
            padding: 0 5rem 0 4rem;
            justify-content: space-between;
        }
    }

    &__about-copy {
        font-size: 0.8125rem;
        line-height: 1.125rem;
        font-weight: 400;
        margin: 0 0 1rem;

        @include tablet {
            font-size: 0.875rem;
            line-height: 1.375rem;
            width: 47%;
        }

        @include desktop {
            font-size: 0.875rem;
            line-height: 1.375rem;
            width: 47%;
        }
    }


//Photo Gallery Section


    &__gallery {
        @extend .main__about-section;
        background-color: $alabaster;

        @include desktop {
            position: relative;
            left: calc((100% - $desktop-breakpoint) / 2);
        }

        &-styler {
            @include tablet {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            @include desktop {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }

        &-title {
            @extend .main__about-title;
            margin: 0;
            padding: 1.5rem 0 1rem;

            @include tablet {
                padding: $largescreen-margin 0 1.25rem 0;
            }

            @include desktop {
                padding: $largescreen-margin 0 1.25rem 0;
                padding-left: 2.25rem;
                position: relative;
                left: calc((100% - $desktop-breakpoint) / 2);

            }
        }

        &-photo {
            width: 100%;
            margin-bottom: 1rem;

            @include tablet {
                width: 31%;
                margin-bottom: 1.9rem;
            }

            @include desktop {
                width: 31%;
                margin-bottom: 1.9rem;
            }

            &--last {
                margin-bottom: 0;

                @include tablet {
                    margin-bottom: 1rem;
                }

                @include desktop {
                    margin-bottom: 1rem;
                }

            }


        }


    }


    // Comment Section

    &__comment-section {
        padding: 1rem;
        box-sizing: border-box;
        margin-right: 0;
        width: 100vw;
        display: flex;
        flex-direction: column;

        @include desktop {
            width: $desktop-breakpoint;
            position: relative;
            left: calc((100% - $desktop-breakpoint) / 2);
        }


        &-outer-form-styler {
            display: flex;
            box-sizing: border-box;
            width: 100%;

            @include tablet {
                padding: 0 0 0 6.25rem;
                width: calc(100vw - 4.5rem);

            }


            @include desktop {
                padding: 0 0 0 3.25rem;
                width: calc($desktop-breakpoint - 31.5rem);
                position: relative;
                left: calc((100% - $desktop-breakpoint + 31.875rem) / 2);
                margin-bottom: 2.25rem;
            }
        }


        &-inner-form-styler {

            width: calc(100% - 5.25rem);

            @include tablet {
                margin-bottom: 1.5rem;
            }
        }

        &-title {
            @extend .main__gallery-title;

            @include tablet {
                padding-left: 1.25rem;
            }
        }

        &-subtitle {
            font-size: 0.7rem;
            line-height: 1.25rem;
            font-weight: 600; //extend for BUTTON
            color: $silver;
            margin: 0;
        }


        &-avatar {
            width: 2.25rem;
            height: 2.25rem;
            border-radius: 50%;
            margin-right: 1rem;
            position: relative;
            top: 1.375rem;
            object-fit: cover;

            @include tablet {
                width: 3rem;
                height: 3rem;
            }

            @include desktop {
                width: 3rem;
                height: 3rem;
            }
        }

        &-name-field {
            box-sizing: border-box;
            height: 2.25rem;
            width: 100%;
            border-radius: 0.25rem;
            padding: 0.375rem;
            border: 0.0625rem solid $mercury;
            margin-bottom: 1rem;

            position: relative;

            &:focus {
                outline: none;

                border-color: $bandsite-black;
            }

            &::placeholder {
                @extend .main__about-copy;
                position: absolute;
                top: 0.5rem;
                left: 0.75rem;
                color: $bandsite-black;


            }

            &--error {
                border-color: #D22D2D;

            }

        }

        &-comment-field {
            @extend .main__comment-section-name-field;
            height: 11.25rem;

            &:focus {
                outline: none;

                border-color: $bandsite-black;
            }

            &--error {
                border-color: #d22d2d;
            }
        }

        &-button {
            line-height: 1.25rem;
            margin: 0;

            font-size: 1.125rem;
            border: none;
            color: $white;
            height: 2.5rem;

            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            border-radius: 0.25rem;
            width: 100%;
            background-color: $bandsite-black;

            @include tablet {
                width: 9.375rem;
                position: relative;
                left: calc(100% - 9.375rem);
                padding: 0 2rem;
            }

            @include desktop {
                width: 9.375rem;
                position: relative;
                left: calc(100% - 9.375rem);
                padding: 0 2rem;

            }



            &:hover {
                background-color: $bandsite-dark-black;
                cursor: pointer;
            }



        }

        &-entries {
            box-sizing: border-box;
            @extend .main__comment-section;

            width: 100%;
            padding-left: 0;

            @include tablet {
                box-sizing: border-box;
                padding: 0 0 0 6.25rem;
                width: calc(100vw - 5.9rem);
            }

            @include desktop {
                padding: 0 0 0 3.25rem;
                width: calc($desktop-breakpoint - 33.4375rem);
                position: relative;
                left: calc((100% - $desktop-breakpoint + 33.4375rem) / 2);
            }
        }

        &-divider {
            border-top: 0.0625rem solid $mercury;
            margin-bottom: 0;
            width: 100%;
            margin-top: 0;

            @include tablet {
                width: 100%
            }


        }

        &-entry {
            @extend .main__comment-section-outer-form-styler;
            padding: 0;
            flex-direction: row;
            position: relative;

            @include tablet {
                position: static;
            }

            @include desktop {
                position: static;
                margin-bottom: 1rem;
                width:calc($desktop-breakpoint - 27.5rem);
            }

            &-avatar {

                box-sizing: border-box;
                width: 2.25rem;
                height: 2.25rem;
                border-radius: 50%;
                background-color: $mercury;
                padding: 1.125rem;
                margin-right: 1rem;
                position: relative;
                top: 1.25rem;

                @include tablet {
                    width: 3rem;
                    height: 3rem;
                }

                @include desktop {
                    width: 3rem;
                    height: 3rem;
                }
                
            }
            &-text-styler {
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                width: calc(100% - 5.25rem);
            
                @include tablet {
                    width: calc(100% - 10.95rem);
                    position: relative;
            
                }
            
                @include desktop {
                    box-sizing: border-box;
                    width: calc(100% - 12.75rem);
                    position: relative;
            
                }
            }
            &-comment {
                font-size: 0.875rem;
                line-height: 1.375rem;
                font-weight: 400;
                color: $bandsite-black;
                margin-top: 0;
            
                &--date {
                    top: 1rem;
                    left: calc(100% - 4.5rem);
                    position: absolute;
                    color: $silver;
                }

            }

            &-commenter {
                font-size: 0.875rem;
                line-height: 1.375rem;
                color: $bandsite-black;
                font-weight: 600;
                margin: 1rem 0 0.5rem;
            
            }
        }
    }

}
