// @use "./partials/variables" as *;
@use "./partials/fonts" as *;
@use "./partials/mixins" as *;

//Body Stylin
body {
    margin: 0;
    padding: 0;

    * {
        font-family: "Avenir";
    }
}

// Header Section
// p {
//     font-family: "Avenir";
//     font-weight: 700;
// }
// Main Section
.header {
    background-color: #323232;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;

    @include tablet {
        // height: 59px;
        display: flex;
        align-items: center;
    }

    @include desktop {
        // height: 59px;
        display: flex;
        align-items: center;
        // margin: auto;
        // width: 1280px;

    }
}

.header__styler {
    // position:relative;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;

    // @include tablet {
    //     box-sizing: border-box;
    //     width:calc(100%-36px);
    // }
    @include desktop {
        width: 1280px;
        position: relative;
        left: calc((100% - 1280px) / 2);
    }
}

.header__nav {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @include tablet {
        flex-direction: row;
        width: 50%;
        margin: 0;
        margin-left: 12px;
        justify-content: flex-start;
    }

    @include desktop {
        flex-direction: row;
        width: 50%;
        margin: 0;
        margin-left: 12px;

        justify-content: flex-start;
        // justify-content: flex-start;
    }
}

.header__list {
    list-style: none;
    margin: 0;
    padding: 0;
    // padding: 1rem;
    width: 100%;
    display: flex;
    // text-decoration: inherit;
    // width: 100%;
    // display: flex;
    justify-content: space-between;

    // align-items: center;
    @include tablet {
        margin-left: 16px;
        //   padding: 24px;

        margin-bottom: 0;
        height: 100%;
        width: 40%;


    }

    @include desktop {
        margin-left: 16px;
        //   padding: 24px;

        margin-bottom: 0;
        height: 100%;
        width: 40%;


    }

}

.header__list-item {
    // padding: 1rem;

    // justify-content: center;
    // text-decoration: inherit;
    @include tablet {
        padding: 24px;
        margin: 0;
        padding: 0;

    }

    @include desktop {
        padding: 24px;
        margin: 0;
        padding: 0;

    }
}

// .header__logo {
//     box-sizing: border-box;
//     // justify-content: center;
//     // height: 1.25rem;
//     // width: 7.5rem;
//     padding: 1rem;
//     // padding-bottom: 0;
//     @include tablet {

//         padding: 1.5rem;
//     }
// }
.header__logo {
    box-sizing: border-box;
    // justify-content: center;
    // height: 1.25rem;
    // width: 7.5rem;
    padding: 1rem;
    padding-bottom: 0;

    @include tablet {

        padding: 1.5rem 2rem 1.5rem 1.5rem;
        padding-bottom: 20px;

    }

    @include desktop {

        padding: 1.5rem 2rem 1.5rem 1.5rem;
        padding-bottom: 20px;

    }
}

.header__logo-image {
    height: 1.25rem;
    width: 7.5rem;
}



.header__list-menu-section {
    // width: 100%;
    // display: flex;
    // justify-content: space-between;

}

.header__list-menu {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.375rem;
    width: 100%;
    text-align: center;
    color: #E1E1E1;
    // margin-top:0.5rem;
    padding-bottom: 0.5rem;

    @include tablet {
        padding-bottom: 0rem;
        // width:30%;
        // padding: 0;    
    }

    @include desktop {
        padding-bottom: 0rem;
        // width:30%;
        // padding: 0;    
    }

    &--selected {
        border-bottom: 0.2rem solid white;
        font-weight: 700;
        color: white;

        @include tablet {
            border-bottom: 0;
        }

        @include desktop {
            border-bottom: 0;
        }


    }

    &:hover {
        border-bottom: 0.2rem solid white;
        font-weight: 400;
        color: white;

        @include tablet {
            border-bottom: 0rem;

        }

        @include desktop {
            border-bottom: 0rem;

        }
    }
}

.header__list-link {
    text-decoration: inherit;
    color: inherit;

    // font-size: 0.875rem;
    // font-weight: 600;
    // line-height: 1.375rem;
    @include tablet {
        padding: 24px 0;
        margin: 0;
        // padding: 0;

    }

    @include desktop {
        padding: 24px 0;
        margin: 0;
        // padding: 0;

    }

    &--selected {
        @include tablet {
            padding: 24px 0;
            margin: 0;
            border-bottom: 0.2rem solid white;

            // padding: 0;

        }

        @include desktop {
            padding: 24px 0;
            margin: 0;
            border-bottom: 0.2rem solid white;

            // padding: 0;

        }
    }

    &:hover {
        // border-bottom: 0.2rem solid white;
        // font-weight: 400;
        // color: white;

        @include tablet {
            border-bottom: 0.2rem solid white;

        }

        @include desktop {
            border-bottom: 0.2rem solid white;

        }
    }
}

// Main Section
.main {
    margin-top: 4.69rem;
    // margin-top: 5.875rem;
    position: relative;

    @include tablet {
        margin-top: 4.375rem;

    }

    @include desktop {
        margin-top: 4.375rem;

    }

}

.main__hero {
    position: relative;
    display: flex;
    align-items: center;
    background-image: url("../assets/images/hero-bio.jpg");
    // margin-top: 4.69rem;
    //    margin-top: 5.875rem;
    background-size: cover;
    background-position: center;
    width: 100%;
    box-sizing: border-box;
    height: 182px;

    @include tablet {
        height: 420px;


    }

    @include desktop {
        height: 456px;

    }

    // height:100%;
    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(32, 32, 32, 0.5);
    }

    &-text {
        position: absolute;

        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
        color: white;
        // padding: 4.5rem 0;
        // margin-top: 4.69rem;
        width: 100%;
        margin: 0;
        margin-left: 1rem;
        // padding:0;

        // margin
        @include tablet {
            font-size: 60px;
            line-height: 68px;
            font-weight: 700;
            margin-left: 36px;
            width: auto;
            // padding:0;
        }

        @include desktop {
            // position: fixed;
            font-size: 60px;
            line-height: 68px;
            font-weight: 700;
            margin-left: 36px;
            // width: auto;
            //         top: 30%; /* Adjust top position as needed */
            // left: 1%;
            width: 1280px;
        position: relative;
        left: calc((100% - 1280px) / 2);

          
        }
    }
}

.main__about-section {

    margin: 0rem 1rem;

    @include tablet {
        box-sizing: border-box;
        width: 100%;
        // padding: 0rem 4.9rem;
        padding: 0 80px 0 56px;
        padding: 0 48px 0 36px;

        margin: 0;

    }

    @include desktop {
        box-sizing: border-box;
        width: 100%;
        // padding: 0rem 4.9rem;
        padding: 0 80px 0 56px;
        padding: 0 48px 0 36px;

        margin: 0;
        width: 1280px;
        position: relative;
        left: calc((100% - 1280px) / 2);
        // padding:0;

    }
}

.main__about-title {
    @extend .main__hero-text;
    position: static;
    padding: 0;
    color: #323232;
    margin: 1.5rem 0 1rem;
    // height: 182px;

    @include tablet {
        // margin: 3rem 0 2.25rem;
        margin: 3rem 0 1.25rem;
        font-size: 36px;

    }

    @include desktop {
        // margin: 3rem 0 2.25rem;
        margin: 3rem 0 1.25rem;
        font-size: 36px;
        margin-left: 36px;

        width: 1280px;
        position: relative;
        left: calc((100% - 1280px) / 2);


    }


}

.main__about-image {
    padding: 0;
    // color: #323232;
    // margin: 1rem 0 1rem;
    width: 100%;
    margin-bottom: 0.5rem;

    // background-size: cover; 
    // image-position: center;
    @include tablet {
        box-sizing: border-box;
        width: 100%;
        height: 340px;
        // padding: 0 80px 0 64px;
        padding: 0 80px 0 64px;
        justify-content: center;
        object-fit: cover;
        margin-bottom: 18px;
    }
    @include desktop {
        box-sizing: border-box;
        width: 100%;
        height: 340px;
        // padding: 0 80px 0 64px;
        padding: 0 80px 0 64px;
        justify-content: center;
        object-fit: cover;
        margin-bottom: 18px;
        // position: relative;
        // left: calc((100% - 1280px) / 2);


    }

}



.main__about-quote {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: 0;

    @include tablet {
        font-size: 24px;
        line-height: 2rem;
        margin-top: 18px;
        padding: 0 80px 0 64px;
    }
    @include desktop {
        font-size: 24px;
        line-height: 2rem;
        margin-top: 18px;
        padding: 0 80px 0 100px;
        position: relative;
        left: calc((100% - 1280px) / 2);


    }

    &--author {
        @include tablet {
            font-size: 14px;
        }
        @include desktop {
            font-size: 14px;
        }
    }
}

.main__about-subtitle {
    @extend .main__about-quote;
    // font-size: 0.8125rem;
    // line-height: 1.125rem;
    font-weight: 500;
    margin-top: 1.5rem;
    margin-bottom: 1rem;

    @include tablet {
        font-size: 24px;
    }
    @include desktop {
        font-size: 24px;
    }

}

.main__about-styler {
    @include tablet {
        display: flex;
        padding: 0 80px 0 64px;
        justify-content: space-between;
    }
        @include desktop {
            display: flex;
            padding: 0 80px 0 64px;
            justify-content: space-between;
    
        
    }
}

.main__about-copy {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    margin: 0 0 1rem;

    @include tablet {
        font-size: 14px;
        // padding: 0 80px 0 64px;
        // margin: 0 0 0 64px;
        line-height: 22px;


        width: 47%;
    }

    @include desktop {
        font-size: 14px;
        // padding: 0 80px 0 64px;
        // margin: 0 0 0 64px;
        line-height: 22px;


        width: 47%;
    }
}

.main__gallery-title {
    @extend .main__about-title;
    margin: 0;
    padding: 1.5rem 0 1rem;

    @include tablet {
        padding: 48px 0 20px 0;
        // padding: 0;
    }
    @include desktop {
        padding: 48px 0 20px 0;
        // padding: 0;
        padding-left:36px;
        position: relative;
        left: calc((100% - 1280px) / 2);

    }
}

.main__gallery {
    @extend .main__about-section;
    background-color: #FAFAFA;
    @include desktop {
        position: relative;
        left: calc((100% - 1280px) / 2);    }
    
}

.main__gallery-styler {
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    @include desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.main__gallery-photo {
    width: 100%;
    margin-bottom: 1rem;

    &--last {
        margin-bottom: 0;

        @include tablet {
            margin-bottom: 1rem;
        }
        @include desktop {
            margin-bottom: 1rem;
        }

    }

    @include tablet {
        width: 31%;
        margin-bottom: 1.9rem;

    }
    @include desktop {
        width: 31%;
        margin-bottom: 1.9rem;

    }
}

// Footer section
.footer {
    background-color: #323232;
    margin-top: 1rem;

    @include tablet {
        // width: 31%;
        margin-top: 18px;
        display: flex;
        flex-direction: column;
        position: relative;

    }

    @include desktop {
        // width: 31%;
        margin-top: 18px;
        display: flex;
        flex-direction: column;
        position: relative;

    }
}
.footer__styler {
    @include desktop {
        width: 1280px;
        position: relative;
        left: calc((100% - 1280px) / 2);

    }

}

.footer__top-styler {
    @include tablet {
        margin-top: 48px;
        display: flex;
        flex-direction: row;
        width: 50%;
        margin-left: 36px;
        justify-content: space-between;
    }
    @include desktop {
        margin-top: 48px;
        display: flex;
        flex-direction: row;
        width: 640px;
        margin-left: 36px;
        justify-content: space-between;
        // width: 1280px;
        // position: relative;
        // left: calc((100% - 1280px) / 2);

    }

}

.footer__title {
    @extend .main__about-title;
    margin: 0;
    margin-left: 1rem;
    padding: 1.5rem 0 1rem;
    color: white;

    @include tablet {
        margin-left: 0;
        padding-bottom: 0;
        padding-top: 0;
        // padding: 3rem 0 2.25rem;
    }
    @include desktop {
        margin-left: 0;
        padding-bottom: 0;
        padding-top: 0;
        left: 0;
        // padding: 3rem 0 2.25rem;
        // width: 1280px;
        // position: relative;
        // left: calc((100% - 1280px) / 2);
    }
}

.footer__socials-section {
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin-left: 1rem;

    @include tablet {
        // flex-wrap: wrap;
        // margin-left: 36px;
        // padding: 3rem 0 2.25rem;
        justify-content: space-evenly;
        // width: 80%;
        width: 168px;
        // margin-left: 5%;
    }

    @include desktop {
        // flex-wrap: wrap;
        // margin-left: 36px;
        // padding: 3rem 0 2.25rem;
        justify-content: space-evenly;
        // width: 80%;
        width: 168px;
        // margin-left: 5%;
    }

}

.footer__socials-icon {
    @include tablet {
        padding: 16px;
        padding-bottom: 0;
    }
    @include desktop {
        padding: 16px;
        padding-bottom: 0;
    }
}

.footer__subtitle {
    @extend .main__about-quote;
    color: white;
    margin: 1rem 0;

    @include tablet {
        padding: 0;
        font-size: 14px;

    }
    @include desktop {
        padding: 0;
        font-size: 14px;
        left:0;
        // width: 1280px;
        // position: relative;
        // left: calc((100% - 1280px) / 2);


    }
}

.footer__details-styler {
    @include tablet {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        // width: 100%;
        width: calc(100% - 56px);
        justify-content: space-between;

    }
    @include desktop {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        // width: 100%;
        width: calc(100% - 56px);
        justify-content: space-between;
        // width: 1280px;
        // position: relative;
        // left: calc((100% - 1280px) / 2);


    }
}


.footer__management-section,
.footer__group-section,
.footer__arch-section {
    margin: 1rem 1rem 1.5rem;
}

.footer__management-contact,
.footer__group-details,
.footer__arch-details {
    @extend .main__about-copy;
    color: white;
    width: 50%;

    @include tablet {
        width: 70%;
    }
    @include desktop {
        width: 70%;
    }
}

// .footer__group-details {
//     @extend .footer__management-contact;
// }


.footer__logo {
    @extend .header__logo;
    padding-top: 1.5rem;

    @include tablet {
        position: absolute;
        top: 48px;
        left: 79.1%;

    }
    @include desktop {
        position: absolute;
        top: 48px;
        left: 79.1%;

    }

}



.footer__copyright-details {
    @extend .footer__arch-details;
    width: 100%;
    padding: 1rem 0;
    margin: 0 1rem;
    font-size: .7325rem;

    @include tablet {
        margin: 0 36px;

    }
    @include desktop {
        margin: 0 36px;
        // position: relative;
        // left: calc((100% - 1280px) / 2);

    }
}