@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("otf"), url("../../assets/fonts/Alternative files/AvenirNextLTProBold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("otf"), url("../../assets/fonts/Alternative files/AvenirNextLTProDemi.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf"), url("../../assets/fonts/Alternative files/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
.main {
  margin-top: 4.69rem;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main {
    margin-top: 4.375rem;
  }
}
@media (min-width: 1280px) {
  .main {
    margin-top: 4.375rem;
  }
}
.main__hero {
  position: relative;
  display: flex;
  align-items: center;
  background-image: url("../assets/images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  width: 100vw;
  height: 16.875rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__hero {
    height: 26.25rem;
  }
}
@media (min-width: 1280px) {
  .main__hero {
    height: 28.5rem;
  }
}
.main__hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
}
.main__hero-text, .main__about-title, .main__gallery-title, .main__comment-section-title {
  position: absolute;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #ffffff;
  box-sizing: border-box;
  width: 90vw;
  margin: 0;
  margin-left: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__hero-text, .main__about-title, .main__gallery-title, .main__comment-section-title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    margin-left: 2.25rem;
    width: auto;
  }
}
@media (min-width: 1280px) {
  .main__hero-text, .main__about-title, .main__gallery-title, .main__comment-section-title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    margin-left: 2.25rem;
    width: 1280px;
    position: relative;
    left: calc((100% - 1280px) / 2);
  }
}
.main__about-section, .main__gallery {
  margin: 0rem 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__about-section, .main__gallery {
    box-sizing: border-box;
    width: 100vw;
    padding: 0 5rem 0 3.5rem;
    padding: 0 48px 0 2.25rem;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .main__about-section, .main__gallery {
    box-sizing: border-box;
    width: 100%;
    padding: 0 5rem 0 3.5rem;
    padding: 0 48px 0 2.25rem;
    margin: 0;
    width: 1280px;
    position: relative;
    left: calc((100% - 1280px) / 2);
  }
}
.main__about-title, .main__gallery-title, .main__comment-section-title {
  position: static;
  padding: 0;
  color: #323232;
  margin: 1.5rem 0 1rem;
  box-sizing: border-box;
  width: 88vw;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__about-title, .main__gallery-title, .main__comment-section-title {
    margin: 3rem 0 1.25rem;
    font-size: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .main__about-title, .main__gallery-title, .main__comment-section-title {
    margin: 3rem 0 1.25rem;
    font-size: 2.25rem;
    margin-left: 2.25rem;
    width: 1280px;
    position: relative;
    left: calc((100% - 1280px) / 2);
  }
}
.main__about-image {
  padding: 0;
  width: 100%;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__about-image {
    box-sizing: border-box;
    width: 100%;
    height: 21.25rem;
    padding: 0 5rem 0 4rem;
    justify-content: center;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 1.125rem;
  }
}
@media (min-width: 1280px) {
  .main__about-image {
    box-sizing: border-box;
    width: 100%;
    height: 21.25rem;
    padding: 0 5rem 0 4rem;
    justify-content: center;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 1.125rem;
  }
}
.main__about-quote, .main__about-subtitle {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__about-quote, .main__about-subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 1.125rem;
    padding: 0 5rem 0 4rem;
  }
}
@media (min-width: 1280px) {
  .main__about-quote, .main__about-subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 1.125rem;
    padding: 0 5rem 0 6.25rem;
    position: relative;
    left: calc((100% - 1280px) / 2);
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__about-quote--author {
    font-size: 0.875rem;
  }
}
@media (min-width: 1280px) {
  .main__about-quote--author {
    font-size: 0.875rem;
  }
}
.main__about-subtitle {
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__about-subtitle {
    font-size: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .main__about-subtitle {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__about-styler {
    display: flex;
    padding: 0 5rem 0 4rem;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .main__about-styler {
    display: flex;
    padding: 0 5rem 0 4rem;
    justify-content: space-between;
  }
}
.main__comment-section-name-field::-moz-placeholder, .main__comment-section-comment-field::-moz-placeholder {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0 0 1rem;
}
.main__about-copy, .main__comment-section-name-field::placeholder, .main__comment-section-comment-field::placeholder {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0 0 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__comment-section-name-field::-moz-placeholder, .main__comment-section-comment-field::-moz-placeholder {
    font-size: 0.875rem;
    line-height: 1.375rem;
    width: 47%;
  }
  .main__about-copy, .main__comment-section-name-field::placeholder, .main__comment-section-comment-field::placeholder {
    font-size: 0.875rem;
    line-height: 1.375rem;
    width: 47%;
  }
}
@media (min-width: 1280px) {
  .main__comment-section-name-field::-moz-placeholder, .main__comment-section-comment-field::-moz-placeholder {
    font-size: 0.875rem;
    line-height: 1.375rem;
    width: 47%;
  }
  .main__about-copy, .main__comment-section-name-field::placeholder, .main__comment-section-comment-field::placeholder {
    font-size: 0.875rem;
    line-height: 1.375rem;
    width: 47%;
  }
}
.main__gallery {
  background-color: #FAFAFA;
}
@media (min-width: 1280px) {
  .main__gallery {
    position: relative;
    left: calc((100% - 1280px) / 2);
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__gallery-styler {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .main__gallery-styler {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.main__gallery-title, .main__comment-section-title {
  margin: 0;
  padding: 1.5rem 0 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__gallery-title, .main__comment-section-title {
    padding: 48px 0 1.25rem 0;
  }
}
@media (min-width: 1280px) {
  .main__gallery-title, .main__comment-section-title {
    padding: 48px 0 1.25rem 0;
    padding-left: 2.25rem;
    position: relative;
    left: calc((100% - 1280px) / 2);
  }
}
.main__gallery-photo {
  width: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__gallery-photo {
    width: 31%;
    margin-bottom: 1.9rem;
  }
}
@media (min-width: 1280px) {
  .main__gallery-photo {
    width: 31%;
    margin-bottom: 1.9rem;
  }
}
.main__gallery-photo--last {
  margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__gallery-photo--last {
    margin-bottom: 1rem;
  }
}
@media (min-width: 1280px) {
  .main__gallery-photo--last {
    margin-bottom: 1rem;
  }
}
.main__comment-section, .main__comment-section-entries {
  padding: 1rem;
  box-sizing: border-box;
  margin-right: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1280px) {
  .main__comment-section, .main__comment-section-entries {
    width: 1280px;
    position: relative;
    left: calc((100% - 1280px) / 2);
  }
}
.main__comment-section-outer-form-styler, .main__comment-section-entry {
  display: flex;
  box-sizing: border-box;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__comment-section-outer-form-styler, .main__comment-section-entry {
    padding: 0 0 0 6.25rem;
    width: calc(100vw - 4.5rem);
  }
}
@media (min-width: 1280px) {
  .main__comment-section-outer-form-styler, .main__comment-section-entry {
    padding: 0 0 0 3.25rem;
    width: calc(1280px - 31.5rem);
    position: relative;
    left: calc((100% - 1280px + 31.875rem) / 2);
    margin-bottom: 2.25rem;
  }
}
.main__comment-section-inner-form-styler {
  width: calc(100% - 5.25rem);
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__comment-section-inner-form-styler {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__comment-section-title {
    padding-left: 1.25rem;
  }
}
.main__comment-section-subtitle {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #AFAFAF;
  margin: 0;
}
.main__comment-section-avatar {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  margin-right: 1rem;
  position: relative;
  top: 1.375rem;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__comment-section-avatar {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 1280px) {
  .main__comment-section-avatar {
    width: 3rem;
    height: 3rem;
  }
}
.main__comment-section-name-field, .main__comment-section-comment-field {
  box-sizing: border-box;
  height: 2.25rem;
  width: 100%;
  border-radius: 0.25rem;
  padding: 0.375rem;
  border: 0.0625rem solid #E1E1E1;
  margin-bottom: 1rem;
  position: relative;
}
.main__comment-section-name-field:focus, .main__comment-section-comment-field:focus {
  outline: none;
  border-color: #323232;
}
.main__comment-section-name-field::-moz-placeholder, .main__comment-section-comment-field::-moz-placeholder {
  position: absolute;
  top: 0.5rem;
  left: 0.75rem;
  color: #323232;
}
.main__comment-section-name-field::placeholder, .main__comment-section-comment-field::placeholder {
  position: absolute;
  top: 0.5rem;
  left: 0.75rem;
  color: #323232;
}
.main__comment-section-name-field--error {
  border-color: #D22D2D;
}
.main__comment-section-comment-field {
  height: 11.25rem;
}
.main__comment-section-comment-field:focus {
  outline: none;
  border-color: #323232;
}
.main__comment-section-comment-field--error {
  border-color: #d22d2d;
}
.main__comment-section-button {
  line-height: 1.25rem;
  margin: 0;
  font-size: 1.125rem;
  border: none;
  color: #ffffff;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 650;
  border-radius: 0.25rem;
  width: 100%;
  background-color: #323232;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__comment-section-button {
    width: 9.375rem;
    position: relative;
    left: calc(100% - 9.375rem);
    padding: 0 2rem;
  }
}
@media (min-width: 1280px) {
  .main__comment-section-button {
    width: 9.375rem;
    position: relative;
    left: calc(100% - 9.375rem);
    padding: 0 2rem;
  }
}
.main__comment-section-button:hover {
  background-color: #000000;
  cursor: pointer;
}
.main__comment-section-entries {
  box-sizing: border-box;
  width: 100%;
  padding-left: 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__comment-section-entries {
    box-sizing: border-box;
    padding: 0 0 0 6.25rem;
    width: calc(100vw - 5.9rem);
  }
}
@media (min-width: 1280px) {
  .main__comment-section-entries {
    padding: 0 0 0 3.25rem;
    width: calc(1280px - 33.4375rem);
    position: relative;
    left: calc((100% - 1280px + 33.4375rem) / 2);
  }
}
.main__comment-section-divider {
  border-top: 0.0625rem solid #E1E1E1;
  margin-bottom: 0;
  width: 100%;
  margin-top: 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__comment-section-divider {
    width: 100%;
  }
}
.main__comment-section-entry {
  padding: 0;
  flex-direction: row;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__comment-section-entry {
    position: static;
  }
}
@media (min-width: 1280px) {
  .main__comment-section-entry {
    position: static;
    margin-bottom: 1rem;
    width: calc(1280px - 27.5rem);
  }
}
.main__comment-section-entry-avatar {
  box-sizing: border-box;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: #E1E1E1;
  padding: 1.125rem;
  margin-right: 1rem;
  position: relative;
  top: 1.25rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__comment-section-entry-avatar {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 1280px) {
  .main__comment-section-entry-avatar {
    width: 3rem;
    height: 3rem;
  }
}
.main__comment-section-entry-text-styler {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: calc(100% - 5.25rem);
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__comment-section-entry-text-styler {
    width: calc(100% - 10.95rem);
    position: relative;
  }
}
@media (min-width: 1280px) {
  .main__comment-section-entry-text-styler {
    box-sizing: border-box;
    width: calc(100% - 12.75rem);
    position: relative;
  }
}
.main__comment-section-entry-comment {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
  color: #323232;
  margin-top: 0;
}
.main__comment-section-entry-comment--date {
  top: 1rem;
  left: calc(100% - 4.5rem);
  position: absolute;
  color: #AFAFAF;
}
.main__comment-section-entry-commenter {
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #323232;
  font-weight: 700;
  margin: 1rem 0 0.5rem;
}/*# sourceMappingURL=bio.css.map */