@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/fonts/Alternative files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/fonts/Alternative files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/fonts/Alternative files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.main {
  margin-top: 4.4rem;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main {
    margin-top: 4rem;
  }
}
@media (min-width: 1280px) {
  .main {
    margin-top: 4rem;
  }
}
.main__hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-image: url("../assets/images/hero-shows.jpg");
  background-size: cover;
  background-position: center;
  justify-content: space-around;
  box-sizing: border-box;
  width: 100vw;
  height: 65vw;
  padding-bottom: 3rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__hero {
    height: 41.25rem;
  }
}
@media (min-width: 1280px) {
  .main__hero {
    height: 40vw;
    align-items: center;
  }
}
.main__hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
}
@media (min-width: 1280px) {
  .main__hero-styler {
    box-sizing: border-box;
    display: flex;
    width: calc(1280px - 2.25rem);
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2.25rem;
    left: calc((100% - 1280px) / 18);
  }
}
.main__hero-text-styler {
  position: relative;
  flex-direction: column;
  width: 80vw;
  height: 18vw;
  justify-content: space-evenly;
  margin: 2rem 0 0rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__hero-text-styler {
    margin: 3rem 0 3rem;
    justify-content: space-evenly;
  }
}
@media (min-width: 1280px) {
  .main__hero-text-styler {
    width: 30vw;
  }
}
.main__hero-title, .main__hero-album-name {
  position: relative;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #ffffff;
  box-sizing: border-box;
  width: 80vw;
  margin: 0;
  margin-left: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__hero-title, .main__hero-album-name {
    font-size: 3.75rem;
    line-height: 10.5rem;
    font-weight: 600;
    margin-left: 2.25rem;
    width: auto;
  }
}
@media (min-width: 1280px) {
  .main__hero-title, .main__hero-album-name {
    font-size: 3.75rem;
    line-height: 10.5rem;
    font-weight: 600;
    margin: 0;
  }
}
.main__hero-album-name {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  display: flex;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__hero-album-name {
    margin-bottom: 0;
    font-size: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .main__hero-album-name {
    font-size: 1.5rem;
  }
}
.main__hero-iframe {
  position: relative;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100vw;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__hero-iframe {
    font-size: 1.5rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    width: 60vw;
  }
}
@media (min-width: 1280px) {
  .main__hero-iframe {
    font-size: 1.5rem;
    width: 30vw;
  }
}
.main__shows-section {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__shows-section {
    margin-left: 0;
    padding-left: 2.25rem;
    width: calc(100vw - 4.5rem);
    margin-bottom: 5.25rem;
  }
}
@media (min-width: 1280px) {
  .main__shows-section {
    width: calc(1280px - 2.5rem);
    margin-left: 2.25rem;
    left: 0;
    position: relative;
    left: calc((100% - 1280px) / 2);
    margin-bottom: 5.25rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__shows-styler-outer {
    position: relative;
    top: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .main__shows-styler-outer {
    position: relative;
    left: calc(100% - 62rem);
    width: 75%;
    top: 3.6875rem;
  }
}
.main__shows-styler-outer:hover {
  background-color: #FAFAFA;
}
.main__shows-styler-outer--selected {
  background-color: #E1E1E1;
}
.main__shows-styler-outer--selected:hover {
  background-color: #E1E1E1;
}
.main__shows-styler-inner {
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__shows-styler-inner {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    bottom: 1rem;
    padding-top: 1rem;
    width: 98%;
  }
}
@media (min-width: 1280px) {
  .main__shows-styler-inner {
    position: relative;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 0.75rem;
  }
}
.main__shows-details-styler {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__shows-details-styler {
    width: 34.33%;
    padding-left: 1rem;
  }
}
@media (min-width: 1280px) {
  .main__shows-details-styler {
    width: 33.33%;
  }
}
.main__shows-title {
  margin: 1.5rem 0 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__shows-title {
    margin: 3rem 0 3.5rem;
    font-size: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .main__shows-title {
    margin: 3rem 0 -2.625rem;
    font-size: 2.25rem;
  }
}
.main__shows-details {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
  color: #323232;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__shows-details {
    margin-top: 1.5rem;
  }
}
.main__shows-details--date {
  font-weight: 600;
}
.main__shows-subtitle, .main__shows-button, .main__shows-button:hover {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #AFAFAF;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__shows-subtitle, .main__shows-button, .main__shows-button:hover {
    font-size: 0.875rem;
    position: absolute;
    top: -1.5625rem;
  }
}
@media (min-width: 1280px) {
  .main__shows-subtitle, .main__shows-button, .main__shows-button:hover {
    font-size: 0.875rem;
    position: absolute;
    top: -2.75rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__shows-subtitle--lower-rows {
    display: none;
  }
}
@media (min-width: 1280px) {
  .main__shows-subtitle--lower-rows {
    display: none;
  }
}
.main__shows-button, .main__shows-button:hover {
  font-size: 1.125rem;
  border: none;
  color: #ffffff;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  border-radius: 0.25rem;
  width: 100%;
  background-color: #323232;
  box-sizing: border-box;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__shows-button, .main__shows-button:hover {
    width: 10.9375rem;
    padding: 0 0.7rem;
    margin: 1rem 0 0 0;
    position: relative;
    top: -0.125rem;
  }
}
@media (min-width: 1280px) {
  .main__shows-button, .main__shows-button:hover {
    width: 10.9375rem;
    position: relative;
    padding: 1rem 1rem;
    top: -0.3125rem;
  }
}
.main__shows-button:hover {
  background-color: #000000;
  cursor: pointer;
}
.main__shows-divider {
  border-top: 0.0625rem solid #E1E1E1;
  margin-bottom: 0;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__shows-divider {
    margin: 0 0 0 0;
  }
}
@media (min-width: 1280px) {
  .main__shows-divider {
    margin: 0;
    position: relative;
    left: calc(100% - 58rem);
  }
}/*# sourceMappingURL=shows.css.map */