@font-face {
  font-family: "Avenir";
  src: url("./assets/fonts/AvenirNextLTPro-Bold.otf") format("otf"), url("./assets/fonts/Alternative files/AvenirNextLTProDemi.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("./assets/fonts/AvenirNextLTPro-Demi.otf") format("otf"), url("./assets/fonts/Alternative files/AvenirNextLTProDemi.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir";
  src: url("./assets/fonts/AvenirNextLTPro-Regular.otf") format("otf"), url("assets/fonts/Alternative files/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
}
body * {
  font-family: "Avenir";
}

.header {
  background-color: #323232;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9999;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .header {
    display: flex;
    align-items: center;
  }
}

.header__styler {
  box-sizing: border-box;
  width: 100vw;
  overflow: hidden;
}
@media (min-width: 1280px) {
  .header__styler {
    width: 1280px;
    position: relative;
    left: calc((100% - 1280px) / 2);
  }
}

.header__nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__nav {
    flex-direction: row;
    width: 50%;
    margin: 0;
    margin-left: 12px;
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  .header__nav {
    flex-direction: row;
    width: 50%;
    margin: 0;
    margin-left: 12px;
    justify-content: flex-start;
  }
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__list {
    margin-left: 16px;
    margin-bottom: 0;
    height: 100%;
    width: 40%;
  }
}
@media (min-width: 1280px) {
  .header__list {
    margin-left: 16px;
    margin-bottom: 0;
    height: 100%;
    width: 40%;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .header__list-item {
    padding: 24px;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .header__list-item {
    padding: 24px;
    margin: 0;
    padding: 0;
  }
}

.header__logo, .footer__logo {
  box-sizing: border-box;
  padding: 1rem;
  padding-bottom: 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__logo, .footer__logo {
    padding: 1.5rem 2rem 1.5rem 1.5rem;
    padding-bottom: 20px;
  }
}
@media (min-width: 1280px) {
  .header__logo, .footer__logo {
    padding: 1.5rem 2rem 1.5rem 1.5rem;
    padding-bottom: 20px;
  }
}

.header__logo-image {
  height: 1.25rem;
  width: 7.5rem;
}

.header__list-menu {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  width: 100%;
  text-align: center;
  color: #E1E1E1;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__list-menu {
    padding-bottom: 0rem;
  }
}
@media (min-width: 1280px) {
  .header__list-menu {
    padding-bottom: 0rem;
  }
}
.header__list-menu--selected {
  border-bottom: 0.2rem solid white;
  font-weight: 700;
  color: white;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__list-menu--selected {
    border-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .header__list-menu--selected {
    border-bottom: 0;
  }
}
.header__list-menu:hover {
  border-bottom: 0.2rem solid white;
  font-weight: 400;
  color: white;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__list-menu:hover {
    border-bottom: 0rem;
  }
}
@media (min-width: 1280px) {
  .header__list-menu:hover {
    border-bottom: 0rem;
  }
}

.header__list-link {
  text-decoration: inherit;
  color: inherit;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__list-link {
    padding: 24px 0;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  .header__list-link {
    padding: 24px 0;
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__list-link--selected {
    padding: 24px 0;
    margin: 0;
    border-bottom: 0.2rem solid white;
  }
}
@media (min-width: 1280px) {
  .header__list-link--selected {
    padding: 24px 0;
    margin: 0;
    border-bottom: 0.2rem solid white;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .header__list-link:hover {
    border-bottom: 0.2rem solid white;
  }
}
@media (min-width: 1280px) {
  .header__list-link:hover {
    border-bottom: 0.2rem solid white;
  }
}

.main {
  margin-top: 4.69rem;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main {
    margin-top: 4.375rem;
  }
}
@media (min-width: 1280px) {
  .main {
    margin-top: 4.375rem;
  }
}

.main__hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-image: url("../assets/images/hero-shows.jpg");
  background-size: cover;
  background-position: center;
  justify-content: space-around;
  box-sizing: border-box;
  width: 100vw;
  height: 65vw;
  padding-bottom: 48px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__hero {
    height: 420px;
  }
}
@media (min-width: 1280px) {
  .main__hero {
    height: 40vw;
    align-items: center;
  }
}
.main__hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
}
@media (min-width: 1280px) {
  .main__hero-styler {
    display: flex;
    width: 1280px;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    left: calc((100% - 1280px) / 18);
  }
}
.main__hero-text-styler {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 18vw;
  justify-content: space-evenly;
  margin: 32px 0 16px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__hero-text-styler {
    margin: 48px 0 48px;
    justify-content: space-evenly;
  }
}
@media (min-width: 1280px) {
  .main__hero-text-styler {
    width: 30vw;
  }
}
.main__hero-title, .main__about-title, .main__hero-album-name {
  position: relative;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: white;
  box-sizing: border-box;
  width: 80vw;
  margin: 0;
  margin-left: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__hero-title, .main__about-title, .main__hero-album-name {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    margin-left: 36px;
    width: auto;
  }
}
@media (min-width: 1280px) {
  .main__hero-title, .main__about-title, .main__hero-album-name {
    font-size: 60px;
    line-height: 68px;
    font-weight: 700;
    width: 400px;
    margin: 0;
  }
}
.main__hero-album-name {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  display: flex;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__hero-album-name {
    font-size: 24px;
  }
}
@media (min-width: 1280px) {
  .main__hero-album-name {
    font-size: 24px;
  }
}
.main__hero-iframe {
  position: relative;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__hero-iframe {
    font-size: 24px;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    width: 60vw;
  }
}
@media (min-width: 1280px) {
  .main__hero-iframe {
    font-size: 24px;
    width: 30vw;
  }
}

.main__shows-section {
  margin-left: 16px;
  display: flex;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__shows-section {
    margin-left: 36px;
    display: flex;
  }
}
@media (min-width: 1280px) {
  .main__shows-section {
    width: 1280px;
    margin-left: 36px;
    display: flex;
    position: relative;
    left: calc((100% - 1280px) / 2);
  }
}

.main__shows-title, .footer__title {
  margin: 24px 0 16px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__shows-title, .footer__title {
    margin: 48px 0 20px;
  }
}
@media (min-width: 1280px) {
  .main__shows-title, .footer__title {
    margin: 48px 0 20px;
  }
}

.main__shows-divider {
  border-top: 1px solid #e1e1e1;
  width: 100%;
}
.main__about-title {
  position: static;
  padding: 0;
  color: #323232;
  margin: 1.5rem 0 1rem;
  box-sizing: border-box;
  width: 88vw;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__about-title {
    margin: 3rem 0 1.25rem;
    font-size: 36px;
  }
}
@media (min-width: 1280px) {
  .main__about-title {
    margin: 3rem 0 1.25rem;
    font-size: 36px;
    margin-left: 36px;
    width: 1280px;
    position: relative;
    left: calc((100% - 1280px) / 2);
  }
}

.main__about-image {
  padding: 0;
  width: 100%;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__about-image {
    box-sizing: border-box;
    width: 100%;
    height: 340px;
    padding: 0 80px 0 64px;
    justify-content: center;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 18px;
  }
}
@media (min-width: 1280px) {
  .main__about-image {
    box-sizing: border-box;
    width: 100%;
    height: 340px;
    padding: 0 80px 0 64px;
    justify-content: center;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 18px;
  }
}

.main__about-quote, .footer__subtitle, .main__about-subtitle {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__about-quote, .footer__subtitle, .main__about-subtitle {
    font-size: 24px;
    line-height: 2rem;
    margin-top: 18px;
    padding: 0 80px 0 64px;
  }
}
@media (min-width: 1280px) {
  .main__about-quote, .footer__subtitle, .main__about-subtitle {
    font-size: 24px;
    line-height: 2rem;
    margin-top: 18px;
    padding: 0 80px 0 100px;
    position: relative;
    left: calc((100% - 1280px) / 2);
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__about-quote--author {
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .main__about-quote--author {
    font-size: 14px;
  }
}

.main__about-subtitle {
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__about-subtitle {
    font-size: 24px;
  }
}
@media (min-width: 1280px) {
  .main__about-subtitle {
    font-size: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .main__about-styler {
    display: flex;
    padding: 0 80px 0 64px;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .main__about-styler {
    display: flex;
    padding: 0 80px 0 64px;
    justify-content: space-between;
  }
}

.main__about-copy, .footer__management-contact,
.footer__group-details,
.footer__arch-details,
.footer__copyright-details {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin: 0 0 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .main__about-copy, .footer__management-contact,
  .footer__group-details,
  .footer__arch-details,
  .footer__copyright-details {
    font-size: 14px;
    line-height: 22px;
    width: 47%;
  }
}
@media (min-width: 1280px) {
  .main__about-copy, .footer__management-contact,
  .footer__group-details,
  .footer__arch-details,
  .footer__copyright-details {
    font-size: 14px;
    line-height: 22px;
    width: 47%;
  }
}

.footer {
  background-color: #323232;
  margin-top: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 1280px) {
  .footer {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 1280px) {
  .footer__styler {
    width: 1280px;
    position: relative;
    left: calc((100% - 1280px) / 2);
  }
}
.footer a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer__top-styler {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-left: 36px;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__top-styler {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    width: 640px;
    margin-left: 36px;
    justify-content: space-between;
  }
}

.footer__title {
  margin: 0;
  margin-left: 1rem;
  padding: 1.5rem 0 1rem;
  color: white;
  box-sizing: border-box;
  width: auto;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__title {
    margin-left: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
}
@media (min-width: 1280px) {
  .footer__title {
    margin-left: 0;
    padding-bottom: 0;
    padding-top: 0;
    left: 0;
  }
}

.footer__socials-section {
  display: flex;
  justify-content: space-between;
  width: 25%;
  margin-left: 1rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__socials-section {
    justify-content: space-evenly;
    width: 168px;
  }
}
@media (min-width: 1280px) {
  .footer__socials-section {
    justify-content: space-evenly;
    width: 168px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer__socials-icon {
    padding: 16px;
    padding-bottom: 0;
  }
}
@media (min-width: 1280px) {
  .footer__socials-icon {
    padding: 16px;
    padding-bottom: 0;
  }
}

.footer__subtitle {
  color: white;
  margin: 1rem 0;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__subtitle {
    padding: 0;
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .footer__subtitle {
    padding: 0;
    font-size: 14px;
    left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .footer__details-styler {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    width: calc(100% - 56px);
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .footer__details-styler {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    width: calc(100% - 56px);
    justify-content: space-between;
  }
}

.footer__management-section,
.footer__group-section,
.footer__arch-section {
  margin: 1rem 1rem 1.5rem;
}

.footer__management-contact,
.footer__group-details,
.footer__arch-details,
.footer__copyright-details {
  color: white;
  width: 50%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__management-contact,
  .footer__group-details,
  .footer__arch-details,
  .footer__copyright-details {
    width: 70%;
  }
}
@media (min-width: 1280px) {
  .footer__management-contact,
  .footer__group-details,
  .footer__arch-details,
  .footer__copyright-details {
    width: 70%;
  }
}

.footer__logo {
  padding-top: 1.5rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__logo {
    position: absolute;
    top: 48px;
    left: 79.1%;
  }
}
@media (min-width: 1280px) {
  .footer__logo {
    position: absolute;
    top: 48px;
    left: 79.1%;
  }
}

.footer__copyright-details {
  box-sizing: border-box;
  width: auto;
  padding: 1rem 0;
  margin: 0 1rem;
  font-size: 0.7325rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__copyright-details {
    margin: 0 36px;
  }
}
@media (min-width: 1280px) {
  .footer__copyright-details {
    margin: 0 36px;
  }
}/*# sourceMappingURL=shows.css.map */